.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
    border: 1px solid #000;
    min-width: 50%;
}

.menu-item-link {
    text-decoration: none;
    color: #000;
}