:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --main-app-background-color: #7c5924b6;
  --notes-container-background-color: #c59d60b6;
  --dialog-header-background-color: antiquewhite;
  --dialog-footer-background-color: antiquewhite;
    
}

h1,h2,h3,h4,h5 {
  margin : 0;
}

ul {
  margin : 0;
}

button {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #000;
  background-color: #f0f0f0;
  cursor: pointer;
  min-width: 5rem;
}

.main-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-app-background-color);
  min-width: 100%;
  height: 100%;
}

.notes-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--notes-container-background-color);
  min-width: 100%;
  height: 100%;
}

ul {
  padding: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  li {
      padding-bottom : 1rem;
      font-size: small;
     
  }
  
}

.note-details {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 40%;
  height: 30rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;

  h3 {
      font-size:medium;
  }

  p {
      font-size: small;
  }

 
}

.note {
  display: flex;
  flex-direction: column;
  align-items: top;
  background-color: lightgray;
  border-radius: 0.5rem;
  overflow-y: auto;
  padding: 1rem;

  h5 {
      padding-bottom: 1rem;
  }
}


