:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --main-app-background-color: #7c5924b6;
  --notes-container-background-color: #c59d60b6;
  --dialog-header-background-color: antiquewhite;
  --dialog-footer-background-color: antiquewhite;
    
}

h1,h2,h3,h4,h5 {
  margin : 0;
}

ul {
  margin : 0;
}

button {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #000;
  background-color: #f0f0f0;
  cursor: pointer;
  min-width: 5rem;
}

.main-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-app-background-color);
  min-width: 100%;
  height: 100%;
}

.notes-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--notes-container-background-color);
  min-width: 100%;
  height: 100%;
}

/* FLEX - PARENT */
.flex {
  display : flex;
}
.flex-row {
  flex-direction : row;
}
.flex-col {
  flex-direction: column;
}
.flex-items-center {
  align-items: center;
}

/* FLEX - CHILDREN */
.flex-1 {
  flex : 1;
}

/* HEIGHT */
.h-100 {
  height: 100%;
}
.h-90 {
  height : 90%;
}
.h-80 {
  height : 80%;
}

.min-h-0{
  min-height: 0;
}
.h-30-rem {
  height: 30rem;
}

/* WIDTH */
.w-100 {
  width: 100%;
}
.w-80 {
  width: 80%;
}

/* MARGIN */
.m-2 {
  margin: 2rem;
}

/* BORDER */
.brd-black{
  border: solid 1px black;
}
.brd-gray-1 {
  border: solid 1px rgb(96, 98, 94);
}
.brd-box {
  box-sizing: border-box;
}
.brd-rds-05{
  border-radius: 0.5rem;
}
.brd-rds-1 {
  border-radius: 1rem;
}

/* BACKGROUND */
.bg-gray-1 {
  background-color: rgb(247, 242, 242);
} 
.bg-pink-1 {
  background-color: rgb(182, 124, 124);
} 

/* POSITION */
.relative {
  position: relative;
}
.absolute{
  position:absolute;
}
.fixed {
  position: fixed;
}
.top-1{
  top: 1rem;
}
.right-1 {
  right : 1rem;
}

/* PADDING */
.pad-05{
  padding: 0.5rem;
}
.pad-1{
  padding: 1rem;
}
.pad-2{
  padding: 2rem;
}
.pad-3{
  padding: 3rem;
}



/* BUTTON */
.btn {
  border-radius: 1rem;
}



/* OVERFLOW */
.oflw-y-auto {
overflow-y: auto;
}


ul {
  padding: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  li {
      padding-bottom : 1rem;
      font-size: small;
     
  }
  
}

.note-details {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 40%;
  height: 30rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;

  h3 {
      font-size:medium;
  }

  p {
      font-size: small;
  }

 
}

.note {
  display: flex;
  flex-direction: column;
  align-items: top;
  background-color: lightgray;
  border-radius: 0.5rem;
  overflow-y: auto;
  padding: 1rem;

  h5 {
      padding-bottom: 1rem;
  }
}


