:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --app-background-color: #080500b6;
  --app-header-height : 5rem;
  --notes-container-background-color: #c59d60b6;
  --dialog-header-background-color: antiquewhite;
  --dialog-footer-background-color: antiquewhite;
    
}

h1,h2,h3,h4,h5 {
  margin : 0;
}

ul {
  margin : 0;
}

button {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #000;
  background-color: #f0f0f0;
  cursor: pointer;
  min-width: 5rem;
}

.app {
  display: grid;
  position: relative;
  grid-template-areas: 
  "header header header"
  "main main main"
  "footer footer footer";
  grid-template-columns: 1fr 4fr 1fr;;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  justify-content: center;
  overflow: auto;
  /* background-color: var(--app-background-color); */
  min-width: 100%;
  height: 98vh;

  .header {
    grid-area: header;
    position:fixed;
    top : 0;
    left : 0;
    height : var(--app-header-height);
    width: 100vw;
    /* background-color: rgb(4, 98, 66); */
  }

  .main {
    grid-area: main;
    position: absolute;
    top : var(--app-header-height);
    /* grid-row: 2; */
    grid-column: 2;
    background-color: rgb(4, 130, 88);
    max-width: 100%;
    max-height: calc(100% - var(--app-header-height));
    overflow: hidden;
  }

  .footer {
    grid-area: footer;
    background-color: aqua;
  }
}

.notes-container {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 23.5rem);
  grid-template-areas:
  "new details details"
  "list details details";
  /* background-color: var(--notes-container-background-color); */
  width: 100%;
  height: 95vh;
  grid-column: 2;
  --new-note-height : 2.5rem;

  .new-note {
    grid-area: new;
    position: absolute;
    height : var(--new-note-height);
    top: 0;
    left:0;
  }

  .notes-list {
    grid-area: list;
    position: relative;
    top: var(--new-note-height);
    /* height: 100%; */
    overflow: scroll;
  }

  .note-details {
    grid-area: details;
    grid-column: 2 / span 2;
    grid-row:  2/ span 2;
    overflow: scroll;
  }
  
}

ul {
  padding: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  li {
      padding-bottom : 1rem;
      font-size: small;
     
  }
  
}


.note {
  display: flex;
  flex-direction: column;
  align-items: top;
  background-color: lightgray;
  border-radius: 0.5rem;
  overflow-y: auto;
  padding: 1rem;

  h5 {
      padding-bottom: 1rem;
  }
}


