:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --app-background-color: #080500b6;
  --app-header-height : 5rem;
  --menu-home-bg-clr : rgb(93, 10, 10);
  --menu-notes-bg-clr: rgb(2, 76, 2);
  --menu-photos-bg-clr: rgb(120, 7, 120);
  --menu-about-bg-clr: rgb(152, 101, 4);
  --menu-contact-bg-clr: rgb(148, 148, 8);
  --notes-container-background-color: #c59d60b6;
  --dialog-header-background-color: antiquewhite;
  --dialog-footer-background-color: antiquewhite;
    
}
/* 
Quick Hue Reference (for OKLCH)
Hue     Color
----    -----
0–30    Red / Orange-red
30–80   Orange / Yellow
80–145  Yellow-green / Green
145–200 Green / Cyan
200–265 Cyan / Blue
265–315 Blue / Purple
315–360 Purple / Red

*/

h1,h2,h3,h4,h5 {
  margin : 0;
}

ul {
  margin : 0;
}

button {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #000;
  background-color: #f0f0f0;
  cursor: pointer;
  min-width: 5rem;
}

.app {
  display: grid;
  position: relative;
  grid-template-areas: 
  "header header header"
  "main main main"
  "footer footer footer";
  grid-template-columns: 1fr 4fr 1fr;;
  grid-template-rows: 70px 1fr 30px;
  align-items: center;
  /* justify-content: center;  */
  /* overflow: auto; */
  /* background-color: var(--app-background-color); */
  /* min-width: 100%; */
  height: 98vh;

  .header {
    grid-area: header;
    /* position:fixed; */
    /* top : 0; */
    /* left : 0; */
    /* height : var(--app-header-height); */
    /* width: 100vw; */
    /* background-color: rgb(4, 98, 66); */
  }

  .main {
    grid-area: main;
    /* position: relative; */
    /* top : var(--app-header-height); */
    /* grid-row: 2; */
    grid-column: 2;
    background-color: rgb(4, 130, 88);
    width: 100%;
    height : 100%;
    /* max-height: calc(100% - var(--app-header-height)); */
    overflow: hidden;
  }

  .footer {
    grid-area: footer;
    background-color: aqua;
  }
}

.notes-container {
  display: grid;
  /* position: relative; */
  grid-template-columns: 35% 35% 30%;
  grid-template-rows: 60px 1fr 20px;
  grid-template-areas:
  "header header header"
  "list details details"
  "footer footer footer";
  /* padding : 50px; */
  width: 100%;
  height: 100%;
  /* background-color: var(--notes-container-background-color); */
  /* height: fit-content; */
  /* grid-column: 2; */
  /* grid-row : 2; */
  /* --new-note-height : 2.8rem; */

  .header{
    grid-area: header;
    background-color: greenyellow;
    /* position: absolute; */
    /* height : var(--new-note-height); */
    /* top: 0; */
    /* left:0; */
  }

  .notes-list {
    grid-area: list;
    /* padding : 5px; */
    /* margin-top : 5px; */
    /* position: relative; */
    /* top: var(--new-note-height); */
    height: inherit;
    overflow: scroll;
  }

  .note-details {
    grid-area: details;
    /* grid-column: 2 / span 2; */
    grid-row:  2;
    padding : 15px;
    border-left: 5px solid oklch(0.6 0.5 115);
    color: oklch(0.8 0.9 180);
    overflow: scroll;
  }

  .notes-footer {
    grid-area : footer;
    background-color: greenyellow;
    align-content: center;
    text-align: center;
  }
}

ul {
  padding: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  li {
      padding-bottom : 1rem;
      font-size: small;
  }
  
}


.note {
  display: flex;
  flex-direction: column;
  align-items: top;
  background-color: lightgray;
  border-radius: 0.5rem;
  overflow-y: auto;
  padding: 1rem;

  h5 {
      padding-bottom: 1rem;
  }
}


