.note {
  display: flex;
  flex-direction: column;
  align-items: top;
  background-color: lightgray;
  border-radius: 0.5rem;
  overflow-y: auto;
  padding: 1rem;

  .note-header {
    display: grid;
    grid-template-columns: 1fr 60px;
    gap: 3px;

    .note-header-icons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      visibility: hidden;
      gap: 5px;
      
      img {
        cursor: pointer;
        width: 20px;
        height: 20px;
      }
    }
  }

  &:hover .note-header-icons {
    visibility: visible;
    cursor: pointer;
  }
}

  
 