.note-list__note {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: top;
  background-color: lightgray;
  border-radius: 0.5rem;
  overflow-y: auto;
  padding: 1rem;
}

.note-list__note-header {
  display: grid;
  grid-template-columns: 1fr 60px;
  gap: 3px; 
}

.note-list__note-actions {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  visibility: hidden;
  gap: 5px;
  
  img {
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
}

.note-list__note:hover .note-list__note-actions {
  visibility: visible;
  cursor: pointer;
}

.note-list__note-actions .icon--edit {
  anchor-name: --tooltip-edit;
  
}

.note-list__note-actions .icon--delete {
  anchor-name: --tooltip-delete;
}

.tooltip-edit {
  position: absolute;
  position-anchor: --tooltip-edit;
  position-area : bottom center;
  /* top: anchor(bottom);
  left: anchor(left); */
  content: 'edit';
  visibility: hidden;
  position-try-fallbacks: center center;
}

.tooltip-delete {
  position: absolute;
  position-anchor: --tooltip-delete;
  top: anchor(bottom);
  left: anchor(left);
  content: 'delete';
  visibility: hidden;
}

.note-list__note-actions:has(.icon--edit:hover) .tooltip-edit {
  visibility: visible;
}

.note-list__note-actions:has(.icon--delete:hover) .tooltip-delete {
  visibility: visible;
}


  
 